.choosePictures {
    background-color: #EDEDED;
    border-radius: 6px;
    padding: 10px;
    margin: 20px;
    border: solid white 1px;
    box-shadow: 1px 1px 3px grey;
    transition: background-color 0.4s, border 0.4s, box-shadow 0.4s;
    height: 550px;
}

.choosePictures:hover {
  background-color: #EEEEEE;
  border: solid #CCFAFF 1px;
  box-shadow: 4px 4px 4px 3px #AAAAAA;
}

img {
  object-fit: cover;
  width: 150px;
  height: 90px;
  margin: 4px;
}

img:hover {
  box-shadow: 1px 1px 4px 2px greenyellow;
}

.pictures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.pictureSubmitButton {
  margin: 2%;
  background-color: #DDDDDD;
  border-radius: 3px;
  padding: 15px 32px;
  text-align: center;
  transition: box-shadow 1s, background-color 0.3s;
  width: 270px;
  height: 110px;
}

.pictureSubmitButton:hover {
  background-color: #EDEDED;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 4px 4px 0 rgba(0,0,0,0.19);
}

.pictureSubmit input {
  height: 25px;
  width: 400px;
}