.chooseColorForm {
    background-color: #EDEDED;
    border-radius: 6px;
    padding: 10px;
    margin: 20px;
    border: solid white 1px;
    box-shadow: 1px 1px 3px grey;
    transition: background-color 0.4s, border 0.4s, box-shadow 0.4s;
    height: 95%;
  }

  .chooseColorForm:hover {
    background-color: #EEEEEE;
    border: solid #CCFAFF 1px;
    box-shadow: 4px 4px 4px 3px #AAAAAA;
  }

  .chooseColorForm input, .chooseColorForm button {
    margin-top: 20px;
  }

  .chooseColorGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
  }

  .primaryColor, .secondaryColor {
    margin: auto;
    text-align: left;
    width: 80%;
    height: 150px;
    padding-top: 25px;
    padding-left: 5px;
    background-color: white;
    transition: background-color 1s; 
    border-radius: 3px;
    line-height: 1.8;
  }

  .colorHeader {
    text-decoration: underline;
    font-weight: bold;
  }