.colorScheme {
  text-align: center;
  margin-top: 5%;
}

#colorSchemeButton {
  margin: 2%;
  background-color: #DDDDDD;
  border-radius: 3px;
  padding: 15px 32px;
  text-align: center;
  transition: box-shadow 1s, background-color 0.3s;
  width: 270px;
  height: 110px;

}

#colorSchemeButton:hover {
  background-color: #EDEDED;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 4px 4px 0 rgba(0,0,0,0.19);
}

.colors{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 50px;
}

#color1 {
  height: 150px;
  background: slateblue;
}
#color2 {
  background: blue;
}
#color3 {
  background: slategrey;
}
#color4 {
  background: skyblue;
}
#color5 {
  background: darkblue;
}

