body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

.templatesGrid {
  background: #EEEEEE;
  width: 80%;
  margin: auto;
  border-radius: 8px;
}

.templatePreview {
  height: 50px;
}

.templates h2, .templates a {
  color: black;
}

.templateHeader {
    overflow: hidden;
    padding: 4% 5%;
  }

.templateHeader a.logo {
    font-size: 25px;
    font-weight: bold;
  }

.templateHeader a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }

.header-right {
    float: right;
  }
  
.sidenav {
    float: left;
    height: 800px;
    width: 140px;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 20px;
  }

.sidenav a {
    padding: 6px 8px 6px 16px;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 25px;
    display: block;
  }

#back {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 50px;
    padding-top: 8px;
    border-radius: 4px;
  }


.grid {
    display: grid;
    grid-template-columns: 3fr 3fr;
    padding-left: 3%;
  }

.gridContent {
    padding: 30px;
    width: 80%;
  }

  .templates {
    text-align: center;
    background-color: #DDDDDD;
    padding-top: 20px;
  }

  .templatesGrid {
    display: grid;
    grid-template-columns: 3fr 3fr;

  }

